<%= render 'pages/home' unless user_signed_in? %>

<% if user_signed_in? %>
	<div class="panel panel-primary">
	  <!-- Default panel contents -->
	  <div class="panel-heading">
	  	Add items to your task list, but make sure they can get done within 7 days.
	  </div>
		  <!-- Table -->
		  <table class="table table-striped table-bordered table-condensed">
		  		<tr>
			    	<th><%="#" %></th>
		  			<th> Name </th>
		  			<th> Description </th>
		  			<th> Time Left </th>
		  			<th>Completed?</th>
		  			<th>Delete</th>
	  			</tr> 
		    <% @todos.each do |todo| %>
		    	<tr>
			    	<td><%= todo.id %></td>
			    	<td><%= todo.name %></td>
		    		<td><%= todo.description %></td>
		    		<td><%= time_to_self_destruct(todo) %> left </td>
		    		<td><%= link_to "Oh Yeah! Got it done", todo, method: :delete , class: "btn btn-warning" %></td>
		    		<td><%= link_to "I can't do this, please remove", todo, method: :delete , class: "btn btn-danger" %></td>

		    	</tr>
				<% end %>
		  </table>
		<br/>
		
		<%= render partial: 'todos/form', locals: {todo: Todo.new} %>
	
	</div>
<% end %>
