<%= render 'pages/home' unless user_signed_in? %>

<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">
  	My List
  </div>
	  <!-- Table -->
	  <table class="table">
	  		<tr>
	  			<th> Name </th>
	  			<th> Description </th>
	  			<th> Time Left </th>
  			</tr> 
	    <% @todos.each do |todo| %>
	    	<tr>
		    	<td><%= todo.name %></td>
	    		<td><%= todo.description %></td>
	    		<td><%= time_to_self_destruct(todo) %> left </td>
	    	</tr>
			<% end %>
	  </table>
	<br/>
	<div class="pull-right" >
	<%= link_to "Add a Task", new_todo_path, class: 'btn btn-primary btn-large' %>
	</div>
</div>